<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopper's Stop - Login</title>
    <link rel="stylesheet" href="STYLES/login.css">
</head>
<body>
    <%- include('../template_pages/basic_template.ejs') %>
    <%if(login_err){%>
        <div style="height: 3rem;background-color: rgba(182, 107, 107, 0.643);text-align: center;"><span style="color: red; font-size: 2rem;"><%=login_err%></span></div>
    <%}%>
        
    <div class="container">
        <form id="loginForm" action="/account_change_setting" method="post">
            <div class="logo-container">
                <img src="/images/site_requirred/logo.png" alt="Shopper's Stop Logo" class="logos">
            </div>
            <h2>EDIT YOUR ACCOUNT</h2>
            <hr>
            <div class="input-group">
                <label for="name">Name :</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="input-group">
                <label for="password">Change your address:</label>
                <input type="text" id="address" name="address"  required>
            </div>
            <div class="input-group">
                <label for="password">Change your Password:</label>
                <input type="password" id="password" name="password"  required>
            </div>
            <input id="login_button" type="submit" value="Save">
        </form>
    </div>
</body>
</html>
