<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopper's Stop - Customer Support</title>
    <link rel="stylesheet" href="STYLES/support.css">
    <!-- <link rel="stylesheet" href="STYLES/.css"> -->
</head>
<body>
    <%- include('../template_pages/basic_template.ejs') -%>
    <header style="display: flex;justify-content: center;">
        <h1>Customer Support</h1>
    </header>
    <main>
        <section class="contact-methods">
            <h2>Contact Methods</h2>
            <ul>
                <li>Phone Support - Call us at +1-800-123-4567</li>
                <li>Email Support - Send us an email at support@shoppersstop.com</li>
                <li>FAQs and Help Center - Visit our FAQs page for assistance</li>
                <li>Social Media Support - Reach out to us on Facebook, Twitter, or Instagram</li>
                <li>Feedback Form - Fill out our feedback form to share your thoughts</li>
                <li>In-Store Support - Visit one of our physical store locations</li>
                <li>Mobile App Support - Contact our mobile app support team</li>
               
            </ul>
        </section>
    </main>
    
    <%-include('../template_pages/footer.ejs')-%>
</body>
</html>
