<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/STYLES/basic_temp.css">
</head>

<body>
    <div class="header">
        <div class="navbar">
            <div class="logo">
                <a href="#">
                    <img src="/images/logo.png" alt="logo">
                    <span style="color: black;">SHOPPERS'</span><span style="color: red;">STOP</span>
                </a>
            </div>
            <div class="search">
                <form action="/search_bar" method="post">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <input type="search" name="SearchBar" autocomplete="on" placeholder="search for products">
                </form>
            </div>
            <div class="nav">
                <ul>
                    <li id="login"><a href="/login"><i class="fa-regular fa-circle-user"></i>Login<i
                                class="fa-solid fa-caret-down"></i></a></li>
                    <li id="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i>Cart</a></li>
                    <li id="seller"><a href="#"><i class="fa-solid fa-store"></i>Become a seller</a></li>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </ul>

            </div>
        </div>
    </div>
    
</body>

</html>