<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/STYLES/main.css">
</head>
<body>
    <%- include('../views/basic_template.ejs') -%>
    <hr>
    <div class="container">
        <img src="/images/buttons/back_button.png" id="back_button" alt="back_button">
        <div class="top_panel"> 
            <div class="scroll">
                <img src="/images/scrolling_images/bag.png" alt="bag">
                <img src="/images/scrolling_images/laptop.png" alt="laptop">
                <img src="/images/scrolling_images/trousers.png" alt="trousers">
                <img src="/images/scrolling_images/guitar.png" alt="guitar">
            </div>
            <div class="scroll">
                <img src="/images/scrolling_images/guitar.png" alt="guitar">
                <img src="/images/scrolling_images/bag.png" alt="bag">
                <img src="/images/scrolling_images/trousers.png" alt="trousers">
                <img src="/images/scrolling_images/laptop.png" alt="laptop">
            </div>
        </div>
        <img src="/images/buttons/next_button.png" id="next_button" alt="next_button">
    </div>
    

    <script>
        let scroll_container=document.querySelector('.top_panel');
        let back_button=document.getElementById('back_button');
        let next_button=document.getElementById('next_button');

        scroll_container.addEventListener("wheel",(evt)=>{
            evt.preventDefault();
            scroll_container.scrollLeft+=evt.deltaY;
            scroll_container.scrollLeft+=evt.deltaX;
        })
        back_button.addEventListener("click",()=>{
            scroll_container.scrollLeft-=900;
        })
        next_button.addEventListener("click",()=>{
            scroll_container.scrollLeft+=900;
        })

    </script>
</body>
</html>


