<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopper's Stop - Login</title>
    <link rel="stylesheet" href="/STYLES/login.css">
</head>
<body>
    <%- include('../views/basic_template.ejs') -%>
    <div class="container">
        <form id="loginForm">
            <div class="logo-container">
                <img src="/images/logo.png" alt="Shopper's Stop Logo" class="logos">
            </div>
            <h2>Login to Shopper's Stop</h2>
            <hr>
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button id="login_button" type="submit">Login</button>
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
        </form>
    </div>

    <script>
        document.getElementById("loginForm").addEventListener("submit", function(event) {
            event.preventDefault();
            // Here you can write JavaScript to handle form submission,
            // such as sending data to a server for authentication.
        });
    </script>
</body>
</html>
