.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px; /* Adjust as needed */
    height: auto;
    /* Add any other styling you want for the logo */
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="number"],
input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 22px); /* Adjust according to the padding and border */
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#register_button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#register_button:hover {
    background-color: #45a049;
}

.input-group {
    margin-top: 30px;
    margin-bottom: 15px;
}

.message {
    text-align: center;
}

